.text-layer {
  position: absolute;
  inset: 0;
  text-align: initial;
  overflow: clip;
  opacity: 1;
  line-height: 1;
  text-size-adjust: none;
  forced-color-adjust: none;
  transform-origin: 0 0;
  caret-color: CanvasText;
  z-index: 1;
}

.text-layer :is(span, br) {
  color: transparent;
  position: absolute;
  white-space: pre;
  cursor: text;
  transform-origin: 0% 0%;
}

.text-layer span[role="img"] {
  user-select: none;
  cursor: default;
}

.text-layer .end-of-content {
  display: block;
  position: absolute;
  inset: 100% 0 0;
  z-index: -1;
  cursor: default;
  user-select: none;
}

.text-layer.is-annotating {
  cursor: crosshair;
}

.text-layer.is-annotating ::selection {
  background: rgba(232, 128, 158, 0.35);
}
